

 .col, .col-2, .col-3 {
    color: white;
    background-color:darkblue;
    padding: 15px;
    margin: 10px;
    
}
.row {
    display: flex;
}
.row .col{ 
    flex: 1px;
}


.row .col-2{
flex: 2;

}

.row .col-3{
flex: 3;

}

